<div class="wrapper">
    <div class="bar" id="barId">
        <p>Search: &nbsp;</p>
        <input type="text" [(ngModel)]="listFilter" />
        <button id="addButton" class="button" [routerLink]="['/contacts/0']"> + </button>
    </div>
    <div class="list">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let contact of filteredContacts' [routerLink]="['/contacts',contact.id]">
                    <td>{{contact.firstName}} {{contact.lastName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>