<div class="wrapper">
    <div class="bar" id="barId">
        <div>Contacts</div>
        <input id="searchInput" type="text" [(ngModel)]="listFilter" placeholder="Search" />
        <button id="addButton" [routerLink]="['/contacts/0']"><span id="plusInBtn"> + </span></button>
    </div>
    <div class="list">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let contact of filteredContacts' [routerLink]="['/contacts',contact.id]">
                    <td>{{contact.firstName}} {{contact.lastName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>