.wrapper {
  display: grid;
  grid-template-rows: minmax(min-content, 6vh) 1fr;
  background-color: #e9f4fb;
  color: #444;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* navbar*/
.bar {
  display: grid;
  height: 4vh;
  min-height: fit-content;
  padding: 1% 2%;
  font-size: calc(10px + 1vw);
  color: #e9f4fb;
  align-items: center;
  background-color: #2691d9;
}
#barId {
  grid-template-columns: auto 1fr 1fr;
}
/* navbarEnd*/

/* buttons*/
.button {
  margin: 0 2vw ;
  width: fit-content;
  background-image: linear-gradient(to bottom, #ffffff, #cacaca);
  border-radius: 10px;
  font-family: Arial;
  color: #2691d9;
  font-size: calc(12px + 0.4vw);
  padding: 1vh 1vw 1vh 1vw;
  outline:0;
}
.button:hover {
  background-image: linear-gradient(to bottom, #eeeeee, #bebdbd);
}
.button:disabled{
  background-image:linear-gradient(to bottom, #2691d900, #207bb800);
  color: rgb(255, 255, 255);
}
#addButton{
  width: 5vw;
  margin: 0 2vw 0 auto;
}
/* buttonsEnd*/

/* Table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border-style: hidden;
  width: 100%;
}
td,th {
  border: 1px solid #dddddd;
  display: flex;
  align-items: center; /* align vertical */
  padding: 2% 5%;
  max-height: fit-content;
}
th {
  background-color: #fcfcfc;
  color: #2691d9;
}
td {
  word-break: break-all;
  border-left: none;
  border-right: none;
}
tr:hover {
  background-image: repeating-linear-gradient(to bottom, #fffbfb, #e0dfdf);
}
tr:nth-child(even) {
  background-color: #ffffff;
}
/* TableEnd  */
