<div class="wrapper">
    <div id="bar">Search: &nbsp;
        <input type="text" [(ngModel)]="listFilter" />
        <a class="button" [routerLink]="['/contacts/contact-add-new']">+</a>
    </div>
    <div class="list">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let contact of filteredContacts' [routerLink]="['/contacts', contact.id]">
                    <td>{{contact.firstName}} {{contact.lastName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>