#barEditContact{
  grid-template-columns: auto 1fr;
}
#buttonContainer{
  margin-left: auto;
}
.contactInfo{
  display: grid;
  margin: 2vh ;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: rgb(163, 211, 255);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
}
h3{
  margin: 0 3vw;
  padding: 0;
}
.row{
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 5vh;
  max-height: 8vh; 
  padding: 2vh;
}
#emails{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px , max-content));
}
.divEmailPhnNumData{
  margin: 0 auto;
 word-break: break-all;
 padding: 0 1vw;
}