.wrapper {
  display: grid;
  grid-template-rows: minmax(min-content, 6vh) 1fr;
  color: #444;
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
}
#bar {
  display: flex;
  font-size: 3vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #e9f4fb;
  padding-left: 2%;
  align-items: center;
  background-color: #2691d9;
}

/* buttons */
.button {
  margin: 0 5% 2% auto;
  background: #fcfcfc;
  background-image: linear-gradient(to bottom, #ffffff, #cacaca);
  border-radius: 28px;
  font-family: Arial;
  color: #2691d9;
  font-size: 16px;
  font-weight: bold;
  padding: 1vh 1vw 1vh 1vw;
  outline:0;
}
.save-btn{
  margin-top: 5vh;
}
.addButton{
 min-width: fit-content;
 width: 3vw;
  border-radius: 0px 10px 10px 0px;
  border-color: rgba(68, 68, 68, 0.178);
  background-image: linear-gradient(to bottom, #ffffff, #cacaca);
  color: #2691d9;
  font-size: 20px;
  outline:0;
}
.deleteButton{
  background-color: transparent;
  color:red;
  border:0;
}
/* buttonsEnd */

.contactForm{
display: grid;
grid-template-columns: 1fr ;
margin: 2vh auto;
row-gap: 1vh;
}
input{
  width:50vw;
  height: 6vh;
  border-radius: 10px;
  border-color: rgba(68, 68, 68, 0.178);
}
input:focus{
  outline: none;
  box-shadow: 0px 0px 2px rgb(77, 138, 252);
}
label{
  max-width: fit-content;
  margin-top: 3vh;
}
.emailAndNumberInput{
  border-radius: 10px 0px 0px 10px;
}
.inputWithButton{
  width:50vw;
  min-height: 6vh;
  max-height: fit-content;
  display: grid;
  grid-template-columns: 1fr auto;
}
.display-current{
  margin-top: 1vh;
  word-break: break-all;
}
.field-error{
  border: 2px solid rgba(255, 0, 0, 0.712);
}
.btmMsg{
  text-align: center;
  color: #2691d9;
  font-size: 3vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
